
/*===========================*/
/*===========Global==========*/
/*===========================*/

html {
  font-size: 16px;
}

.wrapper {
  height: 100vh;
  font-family: $body-text;
  color: $default-color;
  display: flex;
  justify-content: center;
}

#mars-react {
  width: 100%;
  background:
    url('/src/images/mars-bg.jpg') no-repeat;
    background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
