//Shared Styling for Pass and Fail Pages
@mixin results {
  width: 86vw;
  height: auto;
  font-size: 8rem;
  font-family: $accent-text;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3rem;
  animation: $flicker;
}
