@keyframes flicker {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pass-page {
  @include results;
  background-color: $pass-color;
}

.fail-page {
  @include results;
  background-color: $fail-color;
}
