
/*===========================*/
/*===========Global==========*/
/*===========================*/

.wrapper {
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

header {
  background: linear-gradient(to bottom, #602722 0%,#4d0135 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  // transform: rotate(270deg);
}

.rocketship {
  background: url('/src/images/rocketship.jpg');
}

#mars-react {
  width: 100%;
  background:
    url('/src/images/mars-bg.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
