/*===========================*/
/*===========Fonts===========*/
/*===========================*/

/*---------Open Sans---------*/
@font-face {
    font-family: 'open_sanslight';
    src: url('/src/fonts/opensans-light-webfont.eot');
    src: url('/src/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/src/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('/src/fonts/opensans-light-webfont.woff') format('woff'),
         url('/src/fonts/opensans-light-webfont.ttf') format('truetype'),
         url('/src/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*---------Space---------*/
@font-face {
    font-family: 'a_spaceregular';
    src: url('/src/fonts/aspace_demo-webfont.eot');
    src: url('/src/fonts/aspace_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('/src/fonts/aspace_demo-webfont.woff2') format('woff2'),
         url('/src/fonts/aspace_demo-webfont.woff') format('woff'),
         url('/src/fonts/aspace_demo-webfont.ttf') format('truetype'),
         url('/src/fonts/aspace_demo-webfont.svg#a_spaceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*===========================*/
/*===========Global==========*/
/*===========================*/

html {
  font-size: 16px;
}

.wrapper {
  height: 100vh;
  font-family: 'open_sanslight', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
}

header {
  width: 180px;
  padding: 250px 0 140px;
  background: linear-gradient(to bottom, #602722 0%,#4d0135 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header h1, .rocketship {
  transform: rotate(270deg);
}

header h1 {
  font-size: 5rem;
  font-family: 'a_spaceregular', sans-serif;
  color: #e1b9a7;
  text-shadow: 1px 3px 3px #b29284;
  text-transform: uppercase;
}

.rocketship {
  width: 100px;
  height: 100px;
  font-size: 4.5rem;
  text-shadow:
    -1px 2px #757575,
    -1px 4px #666,
    1px 5px #353738;
  background:
    url('/src/images/mars-icon.png');
    background-size: 100px 100px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mars-react {
  width: 100%;
  background:
    url('/src/images/mars-bg.jpg') no-repeat;
    background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*===========================*/
/*========Virtual DOM========*/
/*===========================*/
.cta-button {
  width: 225px;
  height: auto;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px #c693a4;
}

.quiz-main {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-button, .question-area {
  padding: 25px;
  color: #4e0234;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  background-color: #f2c4b0;
  opacity: 0.8;
}

.question-area {
  width: auto;
  height: auto;
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
}

.question-area input {
  width: 200px;
  margin: 7px;
  padding: 5px;
  font-family: 'open_sanslight', sans-serif;
  font-size: 1rem;
  color: #913b37;
  text-align: center;
  background-color: #f2c4b0;
  outline: none;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #4e0234;
}

.submit-answer {
  width: 100px;
  padding: 5px;
  margin-top: 20px;
  font-family: 'a_spaceregular', 'open_sanslight', sans-serif;
  text-transform: uppercase;
  background-color: #f2c4b0;
  border-color: #913b37;
  border-radius: 0.5rem;
  outline: 0;
}

.pass-page {
  width: 86vw;
  height: auto;
  font-size: 8rem;
  font-family: 'a_spaceregular', sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3rem;
  background-color: #81c157;
}

.fail-page {
  width: 86vw;
  height: auto;
  font-size: 8rem;
  font-family: 'a_spaceregular', sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3rem;
  background-color: #c10101;
}

.clock {
  font-size: 2.8rem;
  color: #f9f7f9;
  font-family: 'a_spaceregular';
  text-shadow: 0 0 20px #ea159f;
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
}
